Saved/*
Intermediate/*
Build/*
!Build/Android/res/*
!Build/Android/gradle/*
Binaries/Android/*
!Plugins/UE4GitPlugin-2.17-beta/Binaries
ipch/*
DerivedDataCache/*
*.vs
.vs/*
*.suo
*.VC.VC.opendb
*.VC.db
*.sln
.idea/*
desctop.ini
.xcworkspace/*
*.pdb
*.exe
Plugins/**/*.pdb
Plugins/**/Intermediate/**
Plugins/**/Intermediate/**/*
!Plugins/UE4GitPlugin-2.17-beta/Binaries/Win64/UE4Editor.modules
!Plugins/gitcentral/GitCentral/Intermediate
Content/Developers/Nelli/Map/Test_Side_Level_BuiltData.uasset
Content/Developers/Nelli/Map/Test_Top_Level_BuiltData.uasset
Content/OneMoreDay/Maps/Dev/Map_Dev_Umbrella_BuiltData.uasset
Content/OneMoreDay/Maps/Dev/Map_Dev_Cars_BuiltData.uasset
Content/OneMoreDay/Maps/Dev/Map_Dev_TestCustomWorldRotation_BuiltData.uasset
Content/OneMoreDay/Maps/Dev/Map_Dev_Smartphone_BuiltData.uasset
Content/OneMoreDay/Maps/Dev/Map_Dev_SplineCamera_BuiltData.uasset
Content/OneMoreDay/Maps/Dev/Ninja/Map_Dev_NinjaChar_BuiltData.uasset
Plugins/UltimateMobileKit/Temp/**/*
!*.dll
Content/OneMoreDay/Maps/Dev/Map_dev_Test_Level5_0130_Pazzles_BuiltData.uasset
Content/OneMoreDay/Maps/Dev/Pazzles/Level5/Map_dev_Test_Level5_0130_Pazzles_BuiltData.uasset
Content/OneMoreDay/Maps/Dev/TestCollision/Map_Dev_testCollision_BuiltData.uasset
!UE4Editor.modules
Content/OneMoreDay/Maps/Dev/Pazzles/Level8/Map_dev_Test_Level8_Umbrella_BuiltData.uasset
Content/OneMoreDay/Maps/Dev/Pazzles/Level2/Map_dev_Test_Level2_birds_BuiltData.uasset
Content/OneMoreDay/Maps/Dev/Pazzles/Level5/Map_dev_Test_Level5_0120_Pazzles_BuiltData.uasset
LocalDerivedDataCache/*
